* {
  background-color: hsl(217, 54%, 11%);
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  width: 1440px;
}
img {
  height: 220px;
  width: 260px;
  border-radius: 10%;
  margin: 20px 1px 1px;
}

.container {
  position: relative;
  background-color: hsl(216, 50%, 16%);
  width: 300px;
  height: 500px;
  border-radius: 5%;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  top: 50%;
  transform: translateY(25%);
}

.name {
  background-color: hsl(216, 50%, 16%);
  font-size: 18px;
  color: hsl(0, 0%, 100%);
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  float: left;
  margin-left: 10px;
  padding: 10px;
  position: relative;
}

.description {
  color: hsl(215, 51%, 70%);
  background-color: hsl(216, 50%, 16%);
  font-size: 15px;
  font-weight: 300;
  font-family: "Outfit", sans-serif;
  margin-left: 10px;
  width: 270px;
  display: inline-block;
  text-align: left;
}

.icon-clock {
  background-color: hsl(216, 50%, 16%);
  height: 20px;
  width: 20px;
  float: right;
  position: relative;
  margin-right: 100px;
}

.icon-clockp {
  background-color: hsl(216, 50%, 16%);
  color: hsl(215, 51%, 70%);
  float: right;
  position: relative;
  left: 100px;
  top: 20px;
}
.ethereum-img {
  width: 15px;
  height: 20px;
  background-color: hsl(216, 50%, 16%);
  float: left;
  left: 18px;
  position: relative;
}

.eth {
  background-color: hsl(216, 50%, 16%);
  font-family: "Outfit", sans-serif;
  color: hsl(178, 100%, 50%);
  font-weight: 600;
  float: right;
  top: 20px;
  left: 10px;
  position: relative;
}

.hr {
  background-color: hsl(215, 32%, 27%);
  top: 40px;
  width: 250px;
  position: relative;
  border: none;
  height: 1px;
  left: 20px;
}

.avatar {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border: solid hsl(0, 0%, 100%);
  position: relative;
  top: 28px;
  left: -110px;
}

span {
  color: white;
  background-color: hsl(216, 50%, 16%);
}

.end {
  background-color: hsl(216, 50%, 16%);
  color: hsl(215, 32%, 27%);
  font-size: 15px;
  font-weight: 600;
  position: relative;
  left: 60px;
  width: 200px;
  top: -5px;
}

.name:hover {
  cursor: pointer;
}

span:hover {
  cursor: pointer;
}
.container .equilibrium-hover {
  background-color: hsl(216, 50%, 16%);
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: 0.3s;
  margin: 0 auto;
}
.container .equilibrium-hover:hover {
  background-color: hsl(178, 100%, 50%);
  cursor: pointer;
  opacity: 0.5;
}
